{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <form method="post" id="login-form">
        {% csrf_token %}
        <div class="form-row">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-row">
            {{ form.password.label_tag }} {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}">
        </div>
        <div class="submit-row">
            <input type="submit" value="{% translate 'Log in' %}">
        </div>
    </form>
</div>
{% endblock %}
